---
layout: default
---
      <!-- Main Blog Content -->
      <div class="large-9 columns" role="content">

      {% include pagination.html %}

      {% for post in paginator.posts %}
        <!-- Feed Entry -->
        <div class="large-12 columns panel">
          <h4>{{ post.date | date_to_string }} &raquo;  {{ post.title }}</h4>
          <p>{{ post.excerpt }}</p>
          <a href="{{post.url}}">More</a>
        </div>
        <!-- End Feed Entry -->
      {% endfor %}

      {% include pagination.html %}

      </div> 
      <!-- End Main Content -->
   
   
      <!-- Sidebar -->
   
      <aside class="large-3 columns">
        <div class="panel">
          <script type='text/javascript'>
            googletag.cmd.push(function() {
              googletag.defineSlot('/30503480/joelpm_homepage', [160, 600], 'gpt-ad-1').addService(googletag.pubads());
              googletag.pubads().enableSingleRequest();
              googletag.enableServices();
            });
          </script>

          <!-- joelpm_homepage -->
          <div id='gpt-ad-1' style='width:160px; height:600px;'>
            <script type='text/javascript'>
              googletag.cmd.push(function() { googletag.display('gpt-ad-1'); });
            </script>
          </div>
        </div>
   
      </aside>
   
      <!-- End Sidebar -->

