<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Joel Meyer" />
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/blueprint/screen.css" type="text/css" media="screen, projection">
   <link rel="stylesheet" href="/css/blueprint/print.css" type="text/css" media="print">	
   <!--[if lt IE 8]><link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->

   <link rel="stylesheet" href="/css/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
   
   <link rel="stylesheet" href="/css/pygments_style.css" type="text/css" media="screen, projection">

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
</head>
<body id="main_body">
  <div class="container">
    <h1 class="head"><a href="/">JoelPM</a></h1>

    <div class="last">
      {{ content }}
    </div>

    <hr>

    <div class="span-11 colborder">
	    <a href="http://careers.stackoverflow.com/joelpm">stack<strong>overflow</strong> CV</a><br>
      <a href="http://www.linkedin.com/in/joelpm">
        <img src="http://www.linkedin.com/img/webpromo/btn_profile_bluetxt_80x15.gif" width="80" height="15" border="0" alt="View Joel Meyer's profile on LinkedIn">
      </a>
  	</div>

  	<div class="span-7 last">
  	  <h6>&copy;2009 Joel Meyer</h6>
  	  <p></p>
  	</div>
  	<hr>
  	<hr class="space">
  </div>
  
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-210270-2");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
