<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Joel Meyer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/pygments_style.css" type="text/css" media="screen, projection">
    <script src="/js/vendor/modernizr.js"></script>

    <script type='text/javascript'>
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
        var useSSL = 'https:' == document.location.protocol;
        var gads = document.createElement('script');
        gads.async = true;
        gads.type = 'text/javascript';
        gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
      })();
    </script>

  </head>

  <body>
    <!-- Nav Bar -->
 
    <div class="row">
      <div class="large-12 columns">
        <div class="nav-bar right">
         <ul class="button-group">
           <li><a href="/" class="button">Home</a></li>
          </ul>
        </div>
        <h1>Thoughts <small>on software and people.</small></h1>
        <hr />
      </div>
    </div>
   
    <!-- End Nav -->
   
   
    <!-- Main Page Content and Sidebar -->
   
    <div class="row">

      {{ content }}

    </div>

    <!-- End Main Content -->
    {% include footer.html %}
</body>
</html>
