---
layout: default
---
      <!-- Main Blog Content -->
      <div class="large-9 columns" role="content">

        {% include post.html %}

        <hr />

        {% include comments.html %}

      </div>

      <!-- Sidebar -->
   
      <aside class="large-3 columns">

        {% if page.categories %}   
        <h5>Categories</h5>
        <ul class="side-nav">
          {% for category in page.categories %}
          <li><a href="#">{{ category }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if page.tags %}   
        <h5>Tags</h5>
        <ul class="side-nav">
          {% for tag in page.tags %}
          <li><a href="#">{{ tag }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
   
        <div class="panel">
          <script type='text/javascript'>
            googletag.cmd.push(function() {
              googletag.defineSlot('/30503480/joelpm_post', [160, 600], 'gpt-ad-1').addService(googletag.pubads());
              googletag.pubads().enableSingleRequest();
              googletag.enableServices();
            });
          </script>

          <!-- joelpm_post -->
          <div id='gpt-ad-1' style='width:160px; height:600px;'>
            <script type='text/javascript'>
              googletag.cmd.push(function() { googletag.display('gpt-ad-1'); });
            </script>
          </div>
        </div>
   
      </aside>
   
      <!-- End Sidebar -->
    </div>
